/playwright/.cache/
report.json
report.zip
my-ext
test-result.json
node_modules/
test-results/
playwright-report/
allure-report/
allure-results/
html-report.zip/
report.json/
my-allure-results/
/tests/fixtures/Data